@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

@import url("header.css");
@import url("banner.css");
@import url("carrossel.css");
@import url("topicos.css");
@import url(contato.css);
@import url(rodape.css);

:root {
    --cor-de-fundo: #666666;
    --branco: #4d4d4d;
    --cinza-claro: #000000;
    --cinza: #131313;
    --preto: #000;
    --laranja: #00a8eb;
    --laranja-escuro: #0b7cd8;
    --azul: #002F52;
    --azul-degrade: #292929;
    --fonte-principal: 'Poppins', sans-serif;
    --fonte-secundaria: "Josefin Sans";
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
